@model AccountExpress.Models.Customer;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="box">
        <div class="title-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h4>Editar Cliente</h4>
                </div>
            </div>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="content-box">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="Name">Nome</label>
                            <input asp-for="Name" class="form-control" />
                            <small class="form-text text-muted">Informe o nome do cliente</small>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Name">E-mail</label>
                            <input asp-for="Email" class="form-control" />
                            <small class="form-text text-muted">Informe endereço de e-mail</small>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Name">Data de Nascimento</label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <small class="form-text text-muted">Informe a data de nascimento</small>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CPF">CPF</label>
                            <input asp-for="CPF" class="form-control" />
                            <small class="form-text text-muted">Informe o número de CPF</small>
                            <span asp-validation-for="CPF" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CPF">RG</label>
                            <input asp-for="RG" class="form-control" />
                            <small class="form-text text-muted">Informe o número de RG</small>
                            <span asp-validation-for="RG" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CPF">CNH</label>
                            <input asp-for="CNH" class="form-control" />
                            <small class="form-text text-muted">Informe o número da CNH</small>
                            <span asp-validation-for="CNH" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CPF">Celular</label>
                            <input asp-for="Phone" class="form-control" />
                            <small class="form-text text-muted">Informe o número de Celular</small>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CPF">Endereço</label>
                            <input asp-for="Adress" class="form-control" />
                            <small class="form-text text-muted">Informe o endereço</small>
                            <span asp-validation-for="Adress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="CPF">Número</label>
                            <input asp-for="AdressNumber" class="form-control" />
                            <small class="form-text text-muted">Informe o número</small>
                            <span asp-validation-for="AdressNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="CPF">Complemento</label>
                            <input asp-for="Complement" class="form-control" />
                            <small class="form-text text-muted">Informe um complemento</small>
                            <span asp-validation-for="Complement" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CPF">Bairro</label>
                            <input asp-for="District" class="form-control" />
                            <small class="form-text text-muted">Informe o bairro</small>
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CPF">Cidade</label>
                            <input asp-for="City" class="form-control" />
                            <small class="form-text text-muted">Informe a cidade</small>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CPF">Estado</label>
                            <input asp-for="State" class="form-control" />
                            <small class="form-text text-muted">Selecione o estado</small>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CPF">CEP</label>
                            <input asp-for="CEP" class="form-control" />
                            <small class="form-text text-muted">Informe o CEP</small>
                            <span asp-validation-for="CEP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-btn">
                            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark"><i class="fas fa-undo-alt"></i> Voltar</a>
                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Atualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>