@model AccountExpress.Models.Vehicle;

@{
    ViewData["Title"] = "Veículos | ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-simplebar class="wrapper">
    <div class="container-fluid">
        <div class="title-wrapper">
            <h4>Cadastrar Veículo</h4>
        </div>

        <form  asp-action="VehicleRegistration">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="title-box">
                            <span>Características do Veículo</span>
                        </div>
                        <div class="content-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Brands">Marca</label>
                                        <select id="Brands" class="form-control" name="Brands">
                                            <option>wolkswagen</option>
                                            <option>chevrolet</option>
                                            <option>fiat</option>
                                        </select>
                                        <small class="form-text text-muted">Selecione a marca do veículo</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Model">Modelo</label>
                                        <input type="text" class="form-control" id="Model" name="Model">
                                        <small class="form-text text-muted">Imforme o modelo do veículo</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Type">Tipo</label>
                                        <select id="Type" class="form-control" name="Type">
                                            <option>Passeio</option>
                                            <option>Esportivo</option>
                                            <option>Luxo</option>
                                        </select>
                                        <small class="form-text text-muted">Selecione o tipo de veículo</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Doors">Portas</label>
                                        <select id="Doors" class="form-control" name="Doors">
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                        <small class="form-text text-muted">Quantidade de Portas</small>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Color">Cor</label>
                                        <select id="Color" class="form-control" name="Color">
                                            <option>Branco</option>
                                            <option>Preto</option>
                                            <option>Prata</option>
                                            <option>Vermelho</option>
                                            <option>Azul</option>
                                            <option>Verde</option>
                                            <option>Amarelo</option>
                                            <option>Rosa</option>
                                        </select>
                                        <small class="form-text text-muted">Selecione a Cor</small>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Fuel">Combustível</label>
                                        <select id="Fuel" class="form-control" name="Fuel">
                                            <option>Gasolina</option>
                                            <option>Álcool</option>
                                            <option>Flex</option>
                                        </select>
                                        <small class="form-text text-muted">Selecione o Combustível</small>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Exchange">Câmbio</label>
                                        <select id="Exchange" class="form-control" name="Exchange">
                                            <option>Automático</option>
                                            <option>Manual</option>
                                        </select>
                                        <small class="form-text text-muted">Selecione o Câmbio</small>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Steering">Direção</label>
                                        <select id="Steering" class="form-control" name="Steering">
                                            <option>Hidráulica</option>
                                            <option>Elétrica</option>
                                        </select>
                                        <small class="form-text text-muted">Selecione a Direção</small>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Manufacturing">Fabricação</label>
                                        <select id="Manufacturing" class="form-control" name="Manufacturing">
                                            <option>2015</option>
                                            <option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                        </select>
                                        <small class="form-text text-muted">Ano de Fabricação</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="title-box">
                            <span>Informações Adicionais Sobre o Veículo</span>
                        </div>
                        <div class="content-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Mileage">Quilometragem</label>
                                        <input type="text" class="form-control" id="Mileage" name="Mileage">
                                        <small class="form-text text-muted">Imforme o tipo de combustível</small>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Plate">Placa</label>
                                        <input type="text" class="form-control" id="Plate" name="Plate">
                                        <small class="form-text text-muted">Imforme a Placa</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Chassis">Chassi</label>
                                        <input type="text" class="form-control" id="Chassis" name="Chassis">
                                        <small class="form-text text-muted">Imforme o número do Chassi do veículo</small>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Observations">Observações</label>
                                        <textarea class="form-control" id="Observations" name="Observations"></textarea>
                                        <small class="form-text text-muted">Informe aqui observações relevantes sobre o veículo, como por exemplo: Trava Elétrica, Alarme, Som, etc.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-btn">
                        <button type="submit" value="VehicleRegistration" class="btn btn-success">Cadastrar Informações</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
