
@{
    ViewData["Title"] = "Visão Geral | ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-3">
    <div class="mini-box">
        <div class="title-box">
            <a href="#"><span>Business Manager</span><i class="fas fa-cog"></i></a>

        </div>
        <div class="content-box">
            <p>Cadastrados<span class="badge">5</span></p>
            <p>Ativos<span class="badge">2</span></p>
            <p>Inativos<span class="badge">3</span></p>
        </div>
    </div>
</div>
<div class="col-md-3">Teste</div>
<div class="col-md-3">Teste</div>
<div class="col-md-3">Teste</div>

